@use "functions" as *;

.navigation {
  flex-grow: 1;
  margin-left: fluid-size(20, 581);

  &__menu-list {
    display: flex;
    align-items: center;
    gap: 20.13%;
  }

  &--mobile {
    display: block !important;

    .navigation__menu-list {
      flex-direction: column;
      align-items: center;
      gap: 36px;
      opacity: 0.3;
    }
  }
}