@use "../styles/variables"; 

.button {
  border: 1px solid variables.$main-text-color;
  background-color: transparent;
  cursor: pointer;
  color: variables.$main-text-color;
  border-radius: 15px;
  padding: 14px 22px;
  font-size: variables.$small-font-size;
  font-family: variables.$font-inter;
  font-weight: variables.$font-weight-medium;
}

.burger-menu__button {
  background-color: variables.$button-pink-color;
  border: none;
  font-size: variables.$main-font-size;
}