@use "../styles/variables"; 

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 279px;
  background-color: variables.$background-color;
  display: flex;
  justify-content: flex-end;
  gap: 36px;
  flex-direction: column;
  padding: 0 56px 30px;
  font-size: variables.$main-font-size;
}