@use "../styles/variables"; 
@use "functions" as *;
@use "mixins";

.about {
  color: variables.$main-text-color;
  @include mixins.flex-column();
  padding-bottom: fluid-size(36, 84);
  position: relative;
  z-index: 1;

  &__text-container {
    text-align: center;
  }

  &__title {
    font-size: variables.$big-font-size;
    font-family: variables.$font-involve;
    font-weight: variables.$font-weight-medium;
    margin-bottom: fluid-size(6, 20);
    letter-spacing: 0.016em;
  }

  &__paragraph {
    font-size: variables.$main-font-size;
    font-family: variables.$font-evolventa;
    width: fluid-size(330, 700);
    margin: 0 auto;
  }

  &__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: fluid-size(15, 30);
    justify-content: center;
  }

  &__paragraph-highlight {
    color: variables.$second-text-color;
  }
}