- const cards = []
  - cards.push({ image: './images/schedule.svg', title: 'Хотите открыть бизнес?', text: 'Нейросеть поможет составить бизнес-план, рассчитать расходы, нарисовать логотип, найти место получше и станет вашим главным деловым партнером' })
  - cards.push({ image: './images/briefcase.svg', title: 'Мечтаете об отпуске?', text: 'Нейросеть поможет найти место по вашим запросам, выбрать наилучший сезон, собрать чемодан, подыскать где остановиться и сделать ваш отпуск незабываемым' })
  - cards.push({ image: './images/questionnaire.svg', title: 'Вы студент и нуждаетесь в помощи в учебе?', text: 'Нет проблем! Нейросеть — ваш лучший друг, который поможет написать курсовую, решить сложный тест и подготовиться к экзаменам' })
  - cards.push({ image: './images/heart.svg', title: 'Интересует здоровый образ жизни?', text: 'Нейросеть поделится советами по сбалансированному питанию, безопасным тренировкам и поддержке мотивации.' })

section.about
  .about__text-container 
    h2.about__title Преимущества курса 
    p.about__paragraph 
      | Поможем создать  
      span.about__paragraph-highlight корректный промпт
      | , чтобы вы получили максимально корректный вариант под ваши нужды
  ul.about__card-list
    each card in cards
      li.about__card-item
        include ../card/card.pug
        +card(card.image, card.title, card.text)