@use "../styles/variables"; 
@use "functions" as *;
@use "mixins";

.welcome {
  color: variables.$main-text-color;
  display: flex;
  gap: fluid-size(0 ,80);
  font-family: variables.$font-evolventa;

  &__text-container {
    padding-block: fluid-size(0, 185);
  }

  &__title {
    font-size: variables.$hude-font-size;
    font-family: variables.$font-involve;
    font-weight: variables.$font-weight-medium;
    letter-spacing: 0.016em;
    line-height: fluid-size(42, 87);
    margin-bottom: fluid-size(12, 22);
    background-image: linear-gradient(90deg, #F706A3 0%, #5A73EF 44%, #81F3F8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &__title-small-text {
    font-size: variables.$big-font-size;
    color: variables.$main-text-color;
  }

  &__image {
    display: block;
    width: 54%;
    height: 54%;
  }

  &__paragraph {
    font-size: variables.$main-font-size;
    margin-bottom: fluid-size(32, 72);
  }

  &__button {
    background-color: variables.$button-pink-color;
    border: none;
    font-family: variables.$font-evolventa;
    font-size: variables.$main-font-size;
    padding: fluid-size(12, 16) 24px;

    @include mixins.buttonStyles('colored');
  }
}

