// Вставляем сюда header
header.header
  .logo
    img(src='/images/logo.png', alt='Логотип')
  nav.navigation
    ul
      li
        a(href='#') Главная
      li
        a(href='#about') О нас
      li
        a(href='#services') Услуги
      li
        a(href='#contact') Контакты