header.header
  include ../logo/logo.pug
  include ../navigation/navigation.pug
  include ../button/button.pug
  include ../burger-button/burger-button.pug
  +button('header__button', 'Получить доступ')