@use "../styles/variables"; 
@use "functions" as *;

.header {
  color: variables.$main-text-color;
  display: flex;
  padding-block: fluid-size(7, 24);
  align-items: center;
  justify-content: space-between;
  font-size: variables.$main-font-size;
  font-family: variables.$font-evolventa;
  font-weight: variables.$font-weight-regular;
  
  &__menu {
    flex-grow: 1;
    margin-left: fluid-size(20, 581)
  }

  &__menu-list {
    display: flex;
    align-items: center;
    gap: 20.13%;
  }
}