@use "../styles/variables"; 
.header {
  color: variables.$main-text-color;
  display: flex;
  padding-block: 24px;
  align-items: center;
  justify-content: space-between;
  font-size: variables.$main-font-size;
  font-family: variables.$font-evolventa;
  font-weight: variables.$font-weight-regular;
  &__menu {
    flex-grow: 1;
    margin-left: 41.6%;
  }

  &__menu-list {
    display: flex;
    align-items: center;
    gap: 20.13%;
  }
}