header.header
  a.logo(href="/") 
    .logo__circle
    p.logo__text AI
  nav.header__menu
    ul.header__menu-list
      li.header__menu-item
        a.header__menu-link Главная
      li.header__menu-item 
        a.header__menu-link Преимущества
  include ../button/button.pug
  +button('header__button', 'Получить доступ')