$main-text-color: #FFFFFF;
$second-text-color: #F706A3;
$main-font-size: 24px;
$small-font-size: 16px;
$big-font-size: 80px;
$hude-font-size: 120px;
$card-background-color: #161524;
$background-color: #0C0D12;