@use "functions" as *;

// $main-text-color: #FFFFFF;
// $second-text-color: #F706A3;
// $main-font-size: 24px;
// $small-font-size: 16px;
// $big-font-size: 80px;
// $hude-font-size: 120px;
// $card-background-color: #161524;
// $background-color: #0C0D12;
// $font-inter: 'Inter', sans-serif;
// $font-involve: 'Involve', serif;
// $font-evolventa: 'Evolventa', serif;
// $font-weight-medium: 500;
// $font-weight-regular: 400;


$main-text-color: #FFFFFF;
$second-text-color: #F706A3;
$main-font-size: fluid-size(18, 24);
$small-font-size: fluid-size(12, 16);
$big-font-size: fluid-size(36, 80);
$hude-font-size: fluid-size(52, 120);
$card-background-color: #161524;
$background-color: #0C0D12;
$font-inter: 'Inter', sans-serif;
$font-involve: 'Involve', serif;
$font-evolventa: 'Evolventa', serif;
$font-weight-medium: 500;
$font-weight-regular: 400;